<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %} Bootstrap 3, from LayoutIt!{% endblock %}</title>

    <meta name="description" content="Source code generated using layoutit.com">
    <meta name="author" content="LayoutIt!">

    <link href={{asset('public/css/bootstrap.min.css')}} rel="stylesheet">
    <link href={{asset('public/css/style.css')}} rel="stylesheet">

  </head>
  <body>
  	
  	<div id="contenido">
	{% block contenido %}


	{% endblock %}
	</div>
	
    <script src={{asset('public/js/jquery.min.js')}}></script>
    <script src={{asset('public/js/bootstrap.min.js')}}></script>
    <script src={{asset('public/js/scripts.js')}}></script>
  </body>
</html>