{% extends '::base1.html.twig' %}
{% block titel %}Gestión de Usuarios{% endblock %}
{% block contenido %}
	<div class="container-fluid"> 
		<div class="row">
			<div class="col-md-12">
			<nav class="navbar navbar-inverse" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button> 
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href={{path('usuario_gestion')}}>Volver</a>
						</li>
					</ul>
				</div>
			</nav>



			</div>
		</div>

	<div class="row">
		<div class="col-md-4">
			<table class="table table-responsive">
			    <tr>
			      <th>#</th>
			      <th scope="row">{{usuario.id}}</th>
				</tr>
			    <tr>
			      <th>D.N.I.</th>
			      <td>{{usuario.dni}}</td>
			    </tr>				
			    <tr>  
			      <th>Apellido</th>
			      <td>{{usuario.apellido}}</td>
				</tr>
			    <tr>			      			      
			      <th>Nombre</th>
			      <td>{{usuario.nombre}}</td>
				</tr>
			    <tr>			      
			      <th>Email</th>
			      <td>{{usuario.email}}</td>
				</tr>
			    <tr>
			      <th>Tipo de Usuario</th>
			      <td>{{usuario.tipousuario.name}}</td>
			    </tr>
			</table>
		</div>
		<div class="col-md-4">
		
				<form role="form" action="{{ path('usuario_updatePass',{'id': usuario.id })}}" method="post" >
					<fieldset>
						<legend>Modificar Contraseña</legend>

						{% for message in app.session.flashbag().get('status') %}
							<div class="alert alert-success">{{message}}</div>
						{% endfor %}

						{{form_errors(edit_form)}}
						<div class="form-group">
							{{form_label(edit_form.password, 'Contraseña:')}}
                			{{form_errors(edit_form.password)}}  
                			{{form_widget(edit_form.password)}}                			
						</div>
						<div class="form-group">
                			{{form_rest(edit_form)}}
                		</div>
                	</fieldset>
				</form>		       		                      				
		</div>
		<div class="col-md-4">

		</div>
	</div>


	</div>
{% endblock %}
