{% extends '::base1.html.twig' %}
{% block titel %}Principal Tesorero{% endblock %}
{% block contenido %}
	<div class="container-fluid"> 
		<div class="row">
			<div class="col-md-12">
<nav class="navbar navbar-inverse" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button> 
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href={{path('usuario_gestion')}}>Usuario</a>
						</li>
						<li>
							<a href={{path('operacion_registro',{'usn':app.user.username})}}>Registrar Movientos</a>
						</li>
                        <li>
                            <a href={{path('reporte_generara')}}>Generar Reporte</a>
                        </li>                        
                        <li>
                            <a href={{path('ver_xml')}}>Procesar Archivo Xml</a>
                        </li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href={{path('logout')}}>Cerrar Sesión</a>
						</li>
					</ul>
				</div>
			</nav>
            <div class="row">
                    <div class="col-md-12">
                        <div class="jumbotron">
                            <h2>
                                 Bienvenido, {{app.user.tipousuario.name}}!
                            </h2>
                            {#<p>
                                Desde estas funciones podrá crear nuevos usuarios y modificar las datos de los ya existentes.
                            </p>
                            <p>
                                <a class="btn btn-primary btn-large" href="#">Learn more</a>
                            </p>#}
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
{% endblock %}